@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#f8f9fa] text-gray-900 font-sans antialiased selection:bg-red-200 selection:text-red-900;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /* Premium Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400 transition-colors;
  }
}
